nav ul {
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.5rem;
    display: flex !important;
}

.gallery {
    grid-template-columns: 1fr 1fr 1fr;
}

#menu-toggle {
    display: none;
}
